section.Home {
    .clour-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;

        .colour-pallete {
            width: 6.5rem;
            height: 9rem;
            background-color: rgba(245, 245, 220, 0.13);
            border-radius: 12px;
            overflow: hidden;
    
            .colour-stile {
                background-color: black;
                width: 90%;
                height: 70%;
                border-radius: 16px;
                margin: 5px;
            }
    
            .colour-name {
                color: black;
                text-align: center;
            }
        }
    }
}