.mails-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;

    padding: 1.5rem;
}

table {
    color: #b2deee;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.155);
    text-align: center;

    td, th {
        border: 1px solid #7897a2;
    }

    tr {
        &:nth-child(even) {
            background-color: rgba(148, 200, 255, 0.117);
        }

        button {
            color: #b2deee;
            font-size: 1.5rem;
            width: 90%;
            margin: 0.33rem 0;
            padding: 0.33rem;
            background-color: #5970a8;
            border: 0;

            &:hover {
                background-color: #435480;
            }

            transition: all 0.3s ease;
        }
    }
}
