:root {
    --header-height: 1.5rem;
}

header {
    position: relative;
    display: grid;
    width: 100vw;

    grid-template-columns: auto 1fr auto;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;

    background-color: #0b1214;
    padding: var(--header-height);

    nav {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        align-items: center;
        justify-content: end;
        padding-right: 3rem;

        a {
            background-color: rgb(0, 41, 77);
            padding: 1rem;
            border-radius: 18px;
            text-decoration: none;
            color: white;

            &:hover {
                background-color: rgb(0, 61, 114);
            }

            transition: all 0.3s ease;
        }
    }

    img {
        width: calc(var(--header-height) * 3.5);
        height: calc(var(--header-height) * 3.5);
        border-radius: 25rem;
    }

    section {
        button {
            background-color: rgb(0, 41, 77);
            padding: 1rem;
            border-radius: 18px;
            text-decoration: none;
            color: white;
            border: 0;
            font-size: 1.5rem;

            &:hover {
                background-color: rgb(0, 61, 114);
            }

            transition: all 0.3s ease;
        }
    }
}

main {
    /* padding: calc(var(--header-height) * 7) 1.5rem 0 1.5rem; */
}